<%= form_with(model: grade) do |form| %>
  <% if grade.errors.any? %>
    <div class="p-2 bg-red-200 border border-red-300 rounded-md">
      <h2 class="text-lg text-red-500"><%= pluralize(grade.errors.count, "error") %> :</h2>
      <ul>
        <% grade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-5">
    <%= form.label :grade, class: "block" %>
    <%= form.number_field :grade, min: 1, max: 6, step: 0.5, class: "w-full" %>
  </div>
  
  <div class="mt-5">
    <%= form.label :exam_id, class: "block" %>
    <%= form.collection_select :exam_id, Exam.all, :id, :fullname, class: "w-full" %>
  </div>

  <div class="mt-5">
    <%= form.label "Student", class: "block" %>
    <%= form.collection_select :user_id, Student.all, :id, :fullname, class: "w-full" %>
  </div>

  <div class="mt-5">
    <%= form.submit class: button_style('create') %>
  </div>
<% end %>
