<%= form_with(model: branch) do |form| %>
  <% if branch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
        <% branch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, options_for_select(Branch.statuses.map {|key, value| [key.titleize, Branch.statuses.key(value)]}) %>
  </div>

  <div>
    <%= form.label :semester_id, style: "display: block" %>
    <%= form.collection_select :semester_id, Semester.all, :id, :name %>
  </div>

  <div>
    <%= form.label :teachers, style: "display: block" %>
    <%= form.collection_select :teacher_ids, Teacher.all, :id, :fullname, {multiple: true} %>
  </div>

  <div>
    <%= form.submit class: button_style('create') %>
  </div>
<% end %>
