<div id="<%= dom_id note %>">
  <p>
    <strong>Note:</strong>
    <%= note.note %>
  </p>

  <p>
    <strong>Passed at:</strong>
    <%= note.passed_at %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= note.branch_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= note.student_id %>
  </p>

</div>
