<p style="color: green"><%= notice %></p>

<%= render @student %>

<div>
  <%= link_to "Edit this student", edit_student_path(@student), class: button_style('edit') %> |
  <%= link_to "Back to students", students_path, class: button_style('back') %>

  <%= button_to "Destroy this student", @student, method: :delete, class: button_style('delete') %>
</div>
