<%= form_with(model: school_class) do |form| %>
  <% if school_class.errors.any? %>
    <div class="p-2 bg-red-200 border border-red-300 rounded-md">
      <h2 class="text-lg text-red-500"><%= pluralize(school_class.errors.count, "error") %> :</h2>
      <ul>
        <% school_class.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-5">
    <%= form.label :name, class: "block" %>
    <%= form.text_field :name, class: "w-full" %>
  </div>

  <div class="mt-5">
    <%= form.label :school_year, class: "block" %>
    <%= form.text_field :school_year, class: "w-full" %>
  </div>

  <div class="mt-5">
    <%= form.label "Responsible Teacher", class: "block" %>
    <%= form.collection_select :user_id, Teacher.all, :id, :fullname, class: "w-full" %>
  </div>
  
  <div class="mt-5">
    <%= form.label :students, class: "block" %>
    <%= form.collection_select :student_ids, Student.all, :id, :fullname, {multiple: true}, class: "w-full" %>
  </div>

  <div class="mt-5">
    <%= form.submit class: button_style('create') %>
  </div>
<% end %>
