<%= form_with(model: school_class) do |form| %>
  <% if school_class.errors.any? %>
    <div class="p-2 bg-red-200 border border-red-300 rounded-md">
      <h2 class="text-lg text-red-500"><%= pluralize(school_class.errors.count, "error") %> :</h2>
      <ul>
        <% school_class.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :school_year, style: "display: block" %>
    <%= form.text_field :school_year %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.collection_select :user_id, Teacher.all, :id, :fullname %>
  </div>
  
  <div>
    <%= form.label :student_ids, style: "display: block" %>
    <%= form.collection_select :student_ids, Student.all, :id, :fullname, {}, { multiple: true } %>
  </div>

  <div>
    <%= form.submit class: button_style('create') %>
  </div>
<% end %>
