<div>
  <span class="text-xl"><%= @school_class.fullname %></span>
  <% if @school_class.students.any? %>
    <% for student in @school_class.students %>
      <p>
        <strong>Student:</strong>
        <%= student.fullname %>
      </p>
    <% end %>
  <% else %>
    <p>
      <strong>No students</strong>
    </p>
  <% end %>
</div>

<div>
  <div class="my-2">
    <%= link_to "Edit this school class", edit_school_class_path(@school_class), class:button_style('edit')  %> |
    <%= link_to "Back to school classes", school_classes_path, class:button_style('back') %>
  </div>

  <%= button_to "Destroy this school class", @school_class, method: :delete, class:button_style('delete') %>
</div>
