<div id="<%= dom_id teacher %>">
  <p>
    <strong>Lastname:</strong>
    <%= teacher.lastname %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= teacher.firstname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= teacher.address %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= teacher.postal_code %>
  </p>

  <p>
    <strong>City:</strong>
    <%= teacher.city %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= teacher.acronym %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= teacher.phone %>
  </p>

</div>
