<p style="color: green"><%= notice %></p>

<%= render @teacher %>

<div>
  <%= link_to "Edit this teacher", edit_teacher_path(@teacher), class: button_style('edit') %> |
  <%= link_to "Back to teachers", teachers_path, class: button_style('back') %>

  <%= button_to "Destroy this teacher", @teacher, method: :delete, class: button_style('delete') %>
</div>
