<%= form_with(model: exam, class: "contents") do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
        <% exam.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-5">
    <%= form.label :theme, class: "block" %>
    <%= form.text_field :theme, class: "w-full" %>
  </div>

  <div class="mt-5">
    <%= form.label :date, class: "block" %>
    <%= form.date_field :date, class: "w-full" %>
  </div>

  <div class="mt-5">
    <%= form.label :branch_id, class: "block" %>
    <%= form.collection_select :branch_id, Branch.all, :id, :name, {prompt: "Select a branch"}, class: "w-full" %>
  </div>

  <div class="">
    <%= form.submit class: button_style('create') %>
  </div>
<% end %>
